<ng-container *transloco="let t">
  <section class="space-y-4">
    <p-floatlabel variant="in">
      <input id="current" [formControl]="current" pInputText fluid type="password" />
      <label for="current">{{ t('modals.current') }}</label>
    </p-floatlabel>

    <p-floatlabel variant="in">
      <input id="updated" [formControl]="updated" pInputText fluid type="password" />
      <label for="updated">{{ t('modals.new') }}</label>
    </p-floatlabel>

    @if (otpEnabled) {
    <div class="mt-4 flex flex-col items-center gap-2">
      <p class="text-center font-light text-primary-500">{{ t('modals.enter_totp') }}</p>
      <p-inputotp [(ngModel)]="otp" [integerOnly]="true" size="large" [length]="6" />
    </div>
    }

    <div class="flex justify-end">
      <p-button text [label]="t('common.actions.update')"
        [disabled]="!current.value || !updated.value || (otpEnabled && otp.length < 6)" (click)="closeDialog()" />
    </div>
  </section>
</ng-container>