<section class="space-y-4">
  <p-floatlabel variant="in">
    <input id="current" [formControl]="current" pInputText fluid type="password" />
    <label for="current">Current</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <input id="updated" [formControl]="updated" pInputText fluid type="password" />
    <label for="updated">New</label>
  </p-floatlabel>

  @if (otpEnabled) {
  <div class="mt-4 flex flex-col items-center gap-2">
    <p class="text-center font-light text-primary-500">Enter your TOTP code</p>
    <p-inputotp [(ngModel)]="otp" [integerOnly]="true" size="large" [length]="6" />
  </div>
  }

  <div class="flex justify-end">
    <p-button text label="Update" [disabled]="!current.value || !updated.value || (otpEnabled && otp.length < 6)"
      (click)="closeDialog()" />
  </div>
</section>