<div pFocusTrap class="grid md:grid-cols-3 items-center gap-4" [formGroup]="categoryForm">
  <div class="grid gap-2 md:col-span-2">
    <p-floatlabel variant="in">
      <input id="name" formControlName="name" pInputText fluid />
      <label for="name">Name</label>
    </p-floatlabel>

    <div class="relative w-full">
      <p-floatlabel variant="in">
        <input id="color" formControlName="color" pInputText fluid />
        <label for="color">Color</label>
      </p-floatlabel>
      <div class="absolute right-3 top-1/2 -translate-y-1/2">
        <p-colorpicker [ngModel]="categoryForm.get('color')?.value" (ngModelChange)="updateColorFromPicker($event)"
          [ngModelOptions]="{ standalone: true }" appendTo="body" [pt]="{ panel: 'right-0! left-auto!' }" />
      </div>
    </div>
  </div>

  <input type="file" accept="image/*" #fileInput class="hidden" (change)="onFileSelected($event)" />
  <div class="flex justify-center">
    <div class="relative group cursor-pointer" (click)="fileInput.click()">
      @if (categoryForm.get('image')?.value) {
      <img [src]="categoryForm.get('image')?.value"
        class="max-h-32 object-cover rounded-lg transition-transform duration-300" />
      } @else {
      <img src="/favicon.png" class="object-cover rounded-lg transition-transform duration-300" />
      }
      <div
        class="absolute inset-0 bg-black/50 rounded-lg flex flex-col gap-4 items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
        <span class="text-sm text-primary-300">Click to edit</span><i class="pi pi-upload text-white"></i>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 text-right">
  <p-button (click)="closeDialog()" [disabled]="!categoryForm.dirty || !categoryForm.valid">{{
    categoryForm.get('id')?.value !== -1 ? 'Update' : 'Create'
    }}</p-button>
</div>