@media print {
  .prettyprint {
    display: none;
    visibility: hidden;
  }
}

.fullscreen-map {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  touch-action: pan-x pan-y pinch-zoom;
}
