<section>
  <div class="p-4 mb-4 text-sm text-blue-800 rounded-md bg-blue-50 dark:bg-primary-800 dark:text-blue-400">
    <span class="font-semibold">You're about to archive your Trip!</span> This will make the Trip read-only.<br />
    You can review your trip and add general feedback. You can also skip this part and delete everything.
  </div>

  <div>
    <p-floatlabel variant="in">
      <textarea pTextarea id="review" [formControl]="review" rows="12" fluid></textarea>
      <label for="review">Review Notes</label>
    </p-floatlabel>
  </div>

  <div class="mt-6 text-center">
    <p-button (click)="closeDialog()" label="Archive Trip" icon="pi pi-box" severity="secondary" />
  </div>
</section>