<ng-container *transloco="let t">
  <section>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-md bg-blue-50 dark:bg-primary-800 dark:text-blue-400">
      <span class="font-semibold">{{ t('modals.archive.warning.title') }}</span> {{ t('modals.archive.warning.readonly')
      }}<br />
      {{ t('modals.archive.warning.description') }}
    </div>

    <div>
      <textarea pTextarea id="review" [placeholder]="t('modals.archive.review_placeholder')" [formControl]="review"
        rows="12" fluid></textarea>
    </div>

    <div class="mt-6 text-center">
      <p-button (click)="closeDialog()" [label]="t('modals.archive.button')" icon="pi pi-box" severity="secondary" />
    </div>
  </section>
</ng-container>