<section>
  <div>
    @if (isEditing) {
    <p-floatlabel variant="in">
      <textarea pTextarea id="notes" [formControl]="notes" rows="4" autoResize fluid></textarea>
      <label for="notes">Notes</label>
    </p-floatlabel>
    } @else {
    @if (notes.value) {
    <div class="mt-4 border-l-3 border-primary-900 pl-6 py-2">
      <p class="leading-relaxed text-primary-800 whitespace-pre-wrap">{{ notes.value }}</p>
    </div>
    } @else {
    <div class="text-center">
      <p class="mt-2 text-primary-500 dark:text-primary-400">Nothing yet.</p>
    </div>
    }
    }
  </div>

  <div class="mt-4 flex justify-between">
    @if (isEditing) {
    <p-button text label="Cancel" icon="pi pi-times" severity="danger" (click)="cancelEditing()" />
    <p-button (click)="closeDialog()" [disabled]="notes.pristine" label="Confirm" />
    } @else {
    <div></div>
    <p-button text label="Edit" [disabled]="isArchived" icon="pi pi-pencil" (click)="toggleEditing()" />
    }
  </div>
</section>