name: Sync Fork
on:
#   schedule:
#     - cron: '0 0 * * *'
  workflow_dispatch: # Manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Sync upstream
        run: |
          git remote add upstream https://github.com
          git fetch upstream
          git checkout main
          git merge upstream/main
          git push origin main
